.stickit:after {
    content: ' pi';
}

.stickit {
    cursor: pointer;
}

// textarea variant
#connectToStickit {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

h2 #stickit  {
    display: none;
}

h2:hover #stickit {
    display: block;
}
